# A .gitignore for Keil projects.


# User-specific uVision files
stm32f429_application/MDK_ARM/stm32f429_application/*.uvopt
stm32f429_application/MDK_ARM/stm32f429_application/*.uvoptx
stm32f429_application/MDK_ARM/stm32f429_application/*.uvgui
stm32f429_application/MDK_ARM/stm32f429_application/*.uvgui.*
stm32f429_application/MDK_ARM/stm32f429_application/*.uvguix.*
stm32f429_application/MDK_ARM/stm32f429_application/*.scvd

stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*.uvopt
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*.uvoptx
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*.uvgui
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*.uvgui.*
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*.uvguix.*
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*.scvd

# Debug config files
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/DebugConfig/*
stm32f429_application/MDK_ARM/stm32f429_application/DebugConfig/*

#Builds files
stm32f429_bootloader/MDK_ARM/stm32f429_bootloader/*
stm32f429_application/MDK_ARM/stm32f429_application/DebugConfig/*


# To explicitly override the above, define any exceptions here; e.g.:
# !my_customized_scatter_file.sct
